{% load static %}
{% load pagination_tags %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title>{{team.name_text}}</title>
    <link rel="stylesheet" href="{% static 'teams/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'teams/main.css' %}">
       <link rel="stylesheet" type="text/css" href="{% static 'teams/team1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'teams/team1.css' %}">
</head>
<body style="background-color:#E0FFFF;">
    <div class="container">
        <div class="row header-box">
            <div class="col-md-8">
                <h1>
                    <a style="text-decoration: none">{{team.name_text}}</a>
                </h1>
                <h3>所在城市：{{ team.city_text }}</h3>
                <h3>加入NBA时间：{{ team.time_text }}</h3>
                <h2>球队成员：</h2>
                {% for m in person_list  %}
                 <p>{{ m.firstname_text }}-{{ m.lastname_text }}</p> <br>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <p>

                    <a href="http://127.0.0.1:8000/nba">搜索</a>
                
                </p>
            </div>
        </div>
    

<div class="row">
    <div class="col-md-8">
<h2>相关新闻：</h2>

    {% autopaginate news_list 10 %}

{% for news in news_list  %}
    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text"><a href={%  url "teams:news" news.pk %}   >{{news.title_text|safe}}</a></span>
        <span>{{ news.posttime_text }} <small class="author" itemprop="author">{{news.author_text}}</small>
        </span>
    </div>



{% endfor %}
    {% paginate %}
    </div>
    </div>
</div>

    </div>

</body></html>